<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shoecase- - Homepage</title>
    <link href="/user/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="/user/css/stylesheets/style.css" />
    <link rel="stylesheet" href="/user/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/user/css/prod-css.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- <link rel="stylesheet" href="/user/css/stylesheets/slick/slick-theme.css" /> -->

    <script src="/user/js/jquery.js" defer></script>
    <script src="/user/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/js-image-zoom@0.7.0/js-image-zoom.js"></script>

    <!-- <script src="/user/js/jquery-migrate-1.2.1.min.js"></script> -->
    <!-- <script src="/user/js/sweetalert.min.js"></script> -->
  </head>
</html>
